.pitEg{
	background: url('../img/df/空气污染图例.png') no-repeat center center;
	background-size:100%;
}
.masgTip{
	position:absolute;
	left:50%;
	top:50%;
	width:38.65rem;
	height:25.0rem;
	margin-top:-12.5rem;
	margin-left:-19.33rem;
	box-sizing:border-box;
	border:1px solid #42bfff;
	background-color:rgba(7,18,29,0.9);
	z-index:1000;
	display:none;
}
.title{
	padding:0.9rem;
	border-bottom:1px solid #3c444e;
	box-sizing:border-box;
	background-color:rgba(7,18,29,1);
}
.f30{
	font-size:0.75rem;
}
.f36{
	font-size:0.9rem;
}
.c8a{
	color: #8a8989;
}
.c95{
	color:#95cceb;
}
.title>h6{
	padding-left:1.5rem;
	margin-right:0.5rem;
	background:url(../img/monitor/列表－站点.png) no-repeat left center;
	background-size: 0.8rem 0.8rem;
}
.title>i{
	margin-top:0.25rem;
	color: #3c444e;
}
.msList{
	width:100%;
	height:3.6rem;
	display:box;
	display:-webkit-box;
	border-bottom:1px solid #42bfff;
	box-sizing:border-box;
	background-color:rgba(7,18,29,1);
}
.msList>div{
	text-align:center;
	-webkit-box-flex:1;
    box-flex:1;
    border-right:1px solid #3c444e;
    padding:0.5rem 1.3rem;
}
.msList>div:last-child{
	border-right:none;
}
.msList>div>p{
	margin-bottom:0.2rem;
}
.currentAQI>span{
	width:0.5rem;
	height:0.5rem;
	border-radius:50%;
	margin-right:0.5rem;
}
.currentAQI{
	justify-content:center;
	display:-webkit-flex;
	align-items:center;
}
.hint{
	padding:0.9rem;
}
.hint>.f30{
	line-height:1.25rem;
	margin-top:0.25rem;
}
.curveBox{
	position:relative;
}
.curve{
	width:90%;
	height:11.8rem;
	overflow: hidden;
}
.curveList{
	width:65rem;
	height:11.8rem;
}
#current_curve,#from_curve{
	width:34rem;
	height:100%;
}
#current_curve{
	margin-left:-3rem;
}
.tipText2{
	position:absolute;
	color:#585d62;
	font-size:0.6rem;
	right:1rem;
	bottom: 1.8rem;
    line-height: 1.1rem;
    z-index:100;
}
.tipText>p.le{
	line-height:2.5rem;
}
.leaflet-marker-icon.airq_level{
	color:#000;
	text-align:center;
	top:-1.8rem;
	font-size:0.7rem;
	font-family:'Microsoft YaHei';
}
.l_marker{
	width:3.25rem;
	height:3.575rem;
	line-height:3.4rem;
}