.monitor{
	width:100%;
	height:100%;
	color:#fff;
	overflow: hidden;
}
/*================= 头部 ======================*/
.head{
	width:100%;
	height:3.75rem;
	background:#0b1522;
	border-bottom: 1px solid #3c444e;
	z-index:1000;
}
.head>div{
	height:100%;
	width:3.75rem;	
	float: left;
	cursor:pointer;
	border-right:1px solid #3c444e;
	border-size:border-box;
	-webkit-box-sizing:border-box;
}
.head>div>span{
	display:block;
	width:1.25rem;
	height:1.25rem;
	margin:1.25rem;
}
.head>h1{
	font-size:1.35rem;
	text-indent:1.35rem;
	line-height:3.75rem;
	color: #fff;
}
/*==================== 内容主体 ===========================*/
.content{
	height:calc(100% - 3.75rem);
	width: 100%;
	position:relative;
	overflow:hidden;
}
.content>h2 {
    padding: 0.75rem 1.0rem;
    border-size: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #e6ebf0;
    position: absolute;
    left: 2.0rem;
    top: 0.9rem;
    background: rgba(5,40,71,0.9);
    box-shadow: 2px 4px 16px rgba(0,0,0,0.2);
    font-size: 1.25rem;
    color: #fff;
    z-index: 500;
    display: none;
}
.map{
	height:100%;
}
/*左侧菜单*/
.menu{
	position:absolute;
	left:2.4rem;
	top:7.4rem;
	color: rgba(255,255,255,0.7);
    font-size: 0.75rem;
	text-align:center;
	z-index:500;
}
.menu>ul>li{
	background:rgba(7,27,49,0.8);
	position:absolute;
	left:0;
	top:0;
	width:5.3rem;
	height:4.0rem;
	box-shadow: 2px 4px 16px rgba(0,0,0,0.2);
	line-height:4.0rem;
}
.menu>ul>li.menuAct{
	background-image:linear-gradient(to top,rgba(10,87,183,0.9),rgba(6,107,200,0.9));
	background-image:-webkit-linear-gradient(to top,rgba(10,87,183,0.9),rgba(6,107,200,0.9));
	width:6.0rem;
	height:4.5rem;
	left:-0.35rem;
	z-index:100;
	transition:all 0.4s ease;
}

.menu>ul>li>div{
	background: rgba(7,27,49,0.8);
	position:absolute;
	right:-5rem;
	top:0;
}
.menu>ul>li>div{
	width:0;
	overflow:hidden;
}
.menu>ul>li>div>ul>li{
	width:5rem;
	box-sizing:border-box;
}
.menu>ul>li>.minRain>ul>li.menuAct{
	background-image:linear-gradient(to top,rgba(10,87,183,0.9),rgba(6,107,200,0.9));
	background-image:-webkit-linear-gradient(to top,rgba(10,87,183,0.9),rgba(6,107,200,0.9));
	box-shadow:1px 2px 4px #000;
}

.menu img{
	width:2.125rem;
	height:2.125rem;
	margin:0 1.6rem;
	top:0.6rem;
	position:absolute;
	left:50%;
	margin-left:-1.06rem;
}

.menu p{
	padding-bottom:0.5rem;
	margin-top:2.7rem;
	line-height: initial;
}
/*左下角按钮*/
.con-btn{
	position:absolute;
	left:3rem;
	bottom:3rem;
	z-index:10001;
}
.con-btn>ul>li{
	width:3rem;
	height:3rem;
	background:#06213d;
	margin-bottom:0.75rem;
	position:relative;
}
.con-btn>ul>li:last-child{
	margin-bottom:0;
}
.timeProgress{
	background: rgba(0,0,0,0.5);
	border-radius: 0.525rem;
	position: absolute;
	left:3.5rem;
	top: 0.8rem;
	display: flex;
    justify-content: center;
}
.tipText{
	width:4.5rem;
	height:1.675rem;
	background:url(../img/observe/气泡.png) no-repeat center center;
	background-size:100%;
	font-size:0.7rem;
	text-align:center;
	line-height:1.4rem;
	position:absolute;
	left:0;
	top:-1.7rem;
	z-index:1;
	margin-left:-2.3rem;
}
.timeProgress .allTime{
	position:relative;
	width: 10rem;
	height: 0.125rem;
	background: white;
	border-radius: 0.05rem;
	cursor: pointer;
}
.timebar{
	padding: 0.6rem;
}
/*进度样式*/
.timeProgress .allTime .jindu{
	width: 0;
	height: 100%;
	background: rgb(43,171,249);
	border-radius: 0.05rem;
}
.timeProgress .allTime .moveRoll{
	position: absolute;
	left: 0;
	width: 0.6rem;
	height: 0.6rem;
	background: url('../img/minuteRain/播放卡点.png') center/cover;
	border-radius: 50%;
	transform: translate(-50%,-50%);
	cursor: pointer;
}
.timeProgress .currentTime{
	font-size: 0.75rem;
	color: white;
	padding: 0.2rem;
}
.timeProgress .currentTime.act{
	color: #2ecbff;
}
.con-btn .lock-btn{
	background:url('../img/monitor/触屏关闭.png') no-repeat;
	background-size:100%;
}
.con-btn .lock-btn.act{
	background:url('../img/monitor/触屏解锁.png') no-repeat;
	background-size:100%;
}
.con-btn .set-btn{
	background:url('../img/monitor/画笔关闭.png') no-repeat;
	background-size:100%;
}
.con-btn .set-btn.act{
	background:url('../img/monitor/画笔开启.png') no-repeat;
	background-size:100%;
}
.con-btn .warning-btn{
	background:url('../img/warning/选择.png') no-repeat;
	background-size:100%;
}
.con-btn .warning-btn.act{
	background:url('../img/warning/关闭.png') no-repeat;
	background-size:100%;
}
.con-btn .play-btn{
	background:url('../img/minuteRain/pause.png') no-repeat;
	background-size:100%;
}
.con-btn .play-btn.act{
	background:url('../img/minuteRain/play.png') no-repeat;
	background-size:100%;
}
.shade-layer{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.2);
	z-index:10000;
	display:none;
}
/*图例*/
.pitEg{
	position:absolute;
	right:0.7rem;
	bottom:1.5rem;
	width:29.4rem;
	height:3.3rem;
	z-index:500;
}
/*左上角*/
.content>h2{
	padding:0.75rem 1.0rem;
	border-size:border-box;
	-webkit-box-sizing:border-box;
	border:1px solid #e6ebf0;
	position:absolute;
	left:2.0rem;
	top:0.9rem;
	background:rgba(5,40,71,0.9);
	font-size:1.25rem;
	color:#fff;
	z-index:500;
	display:none;
}
.close{
    width:0.75rem;
    height:0.75rem;
    background: url(../img/monitor/icon-close.png) no-repeat;
    background-size:100%;
    margin: 1rem;
    position:absolute;
    right:0;
    top:0;
    z-index:100000;
}
.paint{
	width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10000;
    overflow: hidden;
    display:none;
}
#map .tdt-control-container .tdt-bottom.tdt-left{
	display:none;
}
.fontWeight{
	font-weight:bold;
}
/*菜单*/
.menu>ul>li i,.menu>ul>li b{
    text-align:center;
    line-height:3rem;
    width:100%;
    height:2rem;
}
.menu>ul>li i{
	font-weight:bold;
	font-family: "SimHei";
}
.menu>ul>li b{
    line-height:1rem;
}
#pop{
	width: 48rem;
    height: 90%;
    position: absolute;
    top: 3%;
    left: 50%;
    z-index: 1000;
    margin-left: -24rem;
    display: none;
}
#pop iframe{
	background:#fff;
}
#videoBox{
	width: 48rem;
    position: absolute;
    top: 12%;
    left: 50%;
    z-index: 1000;
    margin-left: -24rem;
    display: none;
}
.micap_color{
	color:#000;
}