.videoBox{width:43rem;height:24.6rem;position: absolute;left:50%;top:50%;margin-left:-21rem;margin-top:-16rem;background-color:#07121d;border:1px solid #00a2e6;z-index:500;padding:1.5rem;display:none;overflow:hidden;}
.pitEg{width:18rem;background:url('../img/df/实景天气图例.png') center/cover;}
#wrapper2>ul,#wrapper>ul{
	overflow:hidden;
}
#wrapper2,#wrapper{
	max-height:22.5rem;
	overflow:hidden;
}
#wrapper2>ul>li.menuAct,#wrapper>ul>li.menuAct{
	background-image: linear-gradient(to top,rgba(10,87,183,0.9),rgba(6,107,200,0.9));
    background-image: -webkit-linear-gradient(to top,rgba(10,87,183,0.9),rgba(6,107,200,0.9));
    box-shadow: 1px 2px 4px #000;
}
.menu>ul>li>div>ul>li{
	width:10rem;
	border-bottom:1px solid #ccc;
}
.menu p.tName,.menu p.tTime{
	padding-top: 0.5rem;
	margin-top:0;
}
.menu p.tName{
	padding-bottom:0;
}
.menu p.tTime{
	padding-top: 0rem;
	font-size:0.6rem;
}
.menu>ul>li>div{
	margin-right:-5rem;
}
.menu>ul>li.menuAct>div{
	width:10rem;
}