.login{
	width:35.25rem;
	height:16.25rem;
	background:url('../img/login-bg.png') no-repeat;
	position:relative;
	background-size:100%;
}
.close{
	position:absolute;
	right:0.7rem;
	top:0.7rem;
	width:0.45rem;
	height:0.45rem;
	background:url('../img/login-icon.png') no-repeat;
	background-size:3.75rem 1.25rem;
}
.logo{
	position:absolute;
	left:4.4rem;
	top:5rem;
	width:10.0rem;
	height:6.0rem;
	background:url('../img/login-logoè“PI.png') no-repeat;
	background-size:100%;
}
.user{
	position:absolute;
	left:18.25rem;
	top:3.65rem;
}
.user span{
	width:0.9rem;
	height:0.9rem;
	margin-right:0.25rem;
	background:url('../img/login-icon.png') no-repeat;
	background-size:3.75rem 1.25rem;
	background-position:-0.675rem 0.0rem;
}
.user .userpassword>span{
	background-position:-1.6rem 0.0rem;
}
.user input{
	width:11.5rem;
	height:0.9rem;
	font-size:0.45rem;
	color:#fff;
	background:none;
}
.user>.username,.user>.userpassword{
	padding: 0.35rem 0;
    border-bottom: 0.075rem solid #3c4967;
}
.logBox{
	color:rgba(255,255,255,0.4);
	font-size:0.45rem;
	padding: 1.0rem 0;
}
.logBox>div{
	cursor:pointer;
	line-height:0.8rem;
}
.logBox>div>i{
	display:inline-block;
	width:0.6rem;
	height:0.6rem;
	border:1px solid #fff;
	background:#26292a;
	border-radius:0.125rem;
	margin-right:0.25rem;
}
.loginBtn{
	text-align: center;
    width: 100%;
    height: 1.55rem;
    line-height: 1.55rem;
    font-size: 0.75rem;
    color: #fff;
    background-image:linear-gradient(to top,rgba(10,87,183,0.9),rgba(6,107,200,0.9));
	background-image:-webkit-linear-gradient(to top,rgba(10,87,183,0.9),rgba(6,107,200,0.9));
	box-shadow:0 0.075rem 0px -0px #172d4e;
	border-top:0.075rem solid rgba(85,145,205,0.9);
	border-radius:0.375rem;
	cursor:pointer;
}
.logBox .act i{
	background:url('../img/login-icon.png') no-repeat;
	background-size:3.75rem 1.25rem;
	background-position:-2.425rem 1px;
}
.logBox .act{
	color:rgba(255,255,255,0.6);
}