.header{
	position: absolute;
	width: 100%;
	z-index:500;
}
.header .top{
	height: 3.5rem;
	background: rgb(11,21,34);
}
.header .top .home{
	box-sizing: border-box;
	height: 3.5rem;
	width: 3.75rem;
	border-right: 1px solid rgb(60,68,78);
	float: left;
	position: relative;
}
.header .top .home img{
	width: 1.125rem;
	height: 1.125rem;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.header .top .minuteRain{
	font-size: 1.35rem;
	color: white;
	line-height: 3.5rem;
	float: left;
	margin-left: 1.65rem;
}


/*地图*/
.map{
	width: 100%;
	height: 100%;
	position: absolute;
}

/*弹出层样式*/
/*分钟级降水*/
.mask .rainLevel{
	width: 19.65rem;
	height: 2.2rem;
	background: url('../img/minuteRain/分钟级降水图例.png') center/cover;
	position: absolute;
	right: 0.825rem;
	bottom: 1.45rem;
	z-index:600
}
/*三个小框*/
.mask ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 3rem;
	bottom: 3rem;
	z-index: 500;
}
.mask ul li{
	width: 3rem;
	height: 3rem;
	margin-bottom: 0.75rem;
	font-size:0.75rem;
	color:#fff;
	position:relative;
}
.mask ul li:last-child{
	margin-bottom: 0;
}
.mask ul li a{
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	border-radius:  0.525rem;
}
.mask ul li .lock{
	background:url('../img/monitor/触屏关闭.png') center/cover;
}
.mask ul li.act .lock{
	background:url('../img/monitor/触屏解锁.png') center/cover;
}
.mask ul li .play{
	background: url("../img/minuteRain/play.png") center/cover;
}
.mask ul li .pause{
	background: url("../img/minuteRain/pause.png") center/cover;
}
.mask ul li .pen{
	background: url("../img/minuteRain/画笔关闭.png") center center;
	background-size: 100%;
}
.mask ul li.act .pen{
	background: url("../img/minuteRain/画笔开启.png") center/cover;
}
.mask ul li#radarStand{
	background: url("../img/minuteRain/radar.png") center/cover;
}
 .mask ul li a img{
 	height: 1.3rem;
 	position: absolute;
 	top: 0;
 	left: 0;
 	right: 0;
 	bottom: 0;
 	margin: auto;
 }
.mask .timeProgress{
	width: 14.5rem;
	height: 1.75rem;
	background: rgba(0,0,0,0.5);
	border-radius: 0.525rem;
	position: absolute;
	left:3.5rem;
	top: 0.5rem;
}
.mask .timeProgress .allTime{
	width: 10.05rem;
	height: 0.125rem;
	background: white;
	position: absolute;
	top: 0.8rem;
	left: 0.5rem;
	border-radius: 0.05rem;
	cursor: pointer;
}
/*进度样式*/
.mask .timeProgress .allTime .jindu{
	width: 0;
	height: 100%;
	background: rgb(43,171,249);
	border-radius: 0.05rem;
}
.mask .timeProgress .allTime .moveRoll{
	position: absolute;
	left: 0;
	width: 0.6rem;
	height: 0.6rem;
	background: url('../img/minuteRain/播放卡点.png') center/cover;
	border-radius: 50%;
	transform: translate(-50%,-50%);
	cursor: pointer;
}
.mask .timeProgress .currentTime{
	font-size: 0.75rem;
	color: white;
	position: absolute;
	right: 0.45rem;
	top: 0.32rem;
}
/*中间弹出层*/
.mask .middleMask{
	width: 30.275rem;
	height: 21.8rem;
	position: absolute;
	z-index: 500;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	box-sizing: border-box;
	border: 1px solid #39BEFF;
	display: none;
	overflow: hidden;
}
/*第一层*/
.mask .middleMask .title{
	box-sizing: border-box;
	height: 2.95rem;
	background: rgba(0,0,0,0.9);
	overflow:hidden;
}
.mask .middleMask .title .content{
	height: 100%;
	width: 30.125rem;
	margin-left: 0.05rem;
	border-bottom: 1px solid #3B444E;
	position: relative;
	box-sizing:border-box;
	padding: 0.9rem;
}
.mask .middleMask .title .content .radar{
	width: 1rem;	
	height: 1rem;
	background: url("../img/minuteRain/雷达站点－2.png") center/cover;
}
.mask .middleMask .title .content .infoNational{
	font-size: 0.9rem;
	color: white;
	margin: 0 0.5rem;
}
.mask .middleMask .title .content .infoTime{
	font-size: 0.75rem;
	color: #999;
	line-height: 1.5rem;
}
#close,.close{
	width: 0.775rem;
	height: 0.825rem;
	background: url("../img/minuteRain/close.png") center/cover;
	cursor: pointer;
	float: right;
}
/*第二层*/
.mask .middleMask .forecast{
	height: 4.25rem;
	border-bottom: 1px solid #39BEFF;
	background: rgba(0,0,0,0.9);
	overflow:hidden;
}
.mask .middleMask .forecast .futrueWeather{
	width: 6.25rem;
	height: 1.125rem;
	margin-top: 0.9rem;
	margin-left: 0.675rem;
	color: #95CBEB;
	font-size: 0.9rem;
	line-height: 1.125rem;
	/*text-align: center;*/
}
.mask .middleMask .forecast .futrueWeatherInfo{
	height: 0.95rem;
	width: 100%;
	margin-top: 0.375rem;
	margin-left: 0.725rem;
	font-size: 0.75rem;
	color: white;
}
/*第三层*/
.mask .middleMask .chart{
	height: 14.525rem;
	background-color:rgba(7,18,29,0.9);
	overflow:hidden;
	position:relative;
}
.chartTxt{
	position:absolute;
	right:1rem;
	bottom: 4.4rem;
	font-size:0.6rem;
	color:#F1F1F3;
	line-height: 2rem;
}
.chartIcon{
	position: absolute;
    left: 0.8rem;
    bottom: 3.6rem;
}
.chartIcon>div{
	width:1.05rem;
	height:1.05rem;
	margin-bottom:1rem;
}
.mask .middleMask .chart .chartTitle{
	display: block;
	width: 100%;
	height: 0.95rem;
	text-align: center;
	margin-top: 1.55rem;
	color: white;
	font-size: 0.75rem;
}
/*清除覆盖物对话框样式*/

.tdt-infowindow-content{
	margin:0!important;
}
.tdt-infowindow-content-wrapper{
    background: transparent!important; 
    box-shadow: 0 0 0 transparent!important; 
    padding:0!important;
}
.cmarker{
	border-radius:0.5rem;
	width:6rem;
	background:#fff;
	padding:0.6rem;
	padding-right:0.8rem;
	font-size:0.75rem;
	text-align:center;
}
.bg_mask{
	width:100%;
	background-color:rgba(0,0,0,0.6);
    position: absolute;
    left: 0;
    top:0;
    z-index:10000;
    display:none;
}
.xl{
	display:none;
	width:20rem;
	height:7rem;
	position: absolute;
	left: 50%;
	top:50%;
	margin-left:-10rem;
	margin-top:-3.5rem;
	z-index:1000000;
	background: #fff;
	color:#000;
	font-size:0.6rem;
	border-radius:0.5rem;
}
.from{
	padding:1rem;
}
.from input{
	display:block;
	width:100%;
	height:1rem;
	border:1px solid #000;
	margin-top:0.25rem;
}
#xl_btn{
	width: 4rem;
    height: 2rem;
    border-radius: 0.5rem;
    background-color:blue;
    color:#fff;
    text-align:center;
    line-height:2rem;
    position:absolute;
    bottom:1rem;
    right:1rem;
    cursor:pointer;
}
.paint{
	width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 400;
    overflow: hidden;
    display:none;
}
.ex_close{
	position:absolute;
	right:0.5rem;
	top:0.5rem;
	width:0.75rem;
	height: 0.75rem;
	background:url("../img/minuteRain/close.png") center/cover;
}
#exit{
	position:absolute;
	top:0;
	width:20rem;
	height:6rem;
	left:50%;
	margin-left:-10rem;
}
.set_c{
	background: url("../img/minuteRain/icon-set.png") center/cover;
}
#radar_img{
	width:640px;
	height:512px;
}
.close{
	position: absolute;
    right:4px;
    top: 4px;
    z-index: 1000 !important;
}

.radar_icon>i{
	margin-right:5px;
	margin-top:5px;
	width:16px;
	height:18px;
	background:url('../img/minuteRain/雷达站点－1.png') center/cover;
}
.radar_city{
	display:none;
}
.tdt-overlay-pane .initLable{
	border:none;
	background-color:rgba(0,0,0,0);
	box-shadow:none;
	padding:0;
}
.tdt-overlay-pane .tdt-label{
	box-shadow:none;
}